@import "./mixin";

$primary-color: black;
$primary-color-red: #e50914;
$text-color: #fff;
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 55px;
  position: fixed;
  z-index: 10;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);
  svg {
    height: 100%;
    fill: $primary-color-red;
  }

  .nav-right {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      min-width: 115px;
      height: 40px;
      padding: 7px 17px;
      border-radius: 5px;
    }
    &__lang {
      background: $primary-color;
      margin-right: 35px;
      span {
        margin: 0 2px;
      }
    }
  }
}

.showcase {
  background: url("../img/background.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: inset 100px 80px 100px $primary-color,
    inset -100px -80px 100px $primary-color;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $primary-color, $alpha: 0.2);
  }
  &-content {
    position: absolute;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  h1.text {
    font-size: 50px;
    font-weight: 900;
    margin: auto;
    max-width: 650px;
  }
  h4.text {
    font-size: 26px;
    font-weight: 500;
    margin: 16px auto;
  }
  p.text {
    font-size: 19px;
    margin: 0 42px 20px;
  }
  .type-email {
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    justify-content: center;
    input {
      width: 80%;
      min-width: 450px;
      height: 60px;
      padding: 10px;
      outline: none;
      border: none;
    }
    button {
      height: 60px;
      background-color: $primary-color-red;
      padding: 0 13px;
      width: 20%;
    }
  }
}

main {
  background-color: #000;
}

main .separate {
  width: 100%;
  height: 10px;
  background-color: #222;
}

.netflix-tv {
  @include mobile {
    grid-template-columns: 1fr;
    padding: 0;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 50px 0;

  &__content {
    margin-top: 50px;
    p,
    h2 {
      text-align: left;
      margin-bottom: 10px;
    }
  }

  &__right {
    height: 100%;
    display: flex;
  }

  &__show {
    overflow: hidden;
    position: relative;
    img {
      position: relative;
      z-index: 2;
    }
    .video {
      height: 100%;
      overflow: hidden;
      left: 50%;
      max-height: 54%;
      max-width: 73%;
      position: absolute;
      top: 47.5%;
      transform: translate(-50%, -50%);
      width: 100%;
      video {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.netflix-offline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 100px 0;

  &__left {
    position: relative;
    .sub-img {
      background: $primary-color;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 330px;
      height: 95px;
      border: 2px solid gray;
      border-radius: 20px;
      overflow: hidden;
      &__left {
        display: flex;
        width: 100%;
        height: 100%;
        padding: 10px;
        img {
          object-fit: contain;
          margin-left: -80px;
        }
      }

      &__content {
        margin-left: -80px;
        margin-top: auto;
        margin-bottom: auto;

        h5 {
          text-align: left;
        }
        span {
          color: blue;
          font-size: 14px;
          text-align: left;
        }
      }
    }
  }

  &__content {
    h2,
    p {
      margin-bottom: 10px;
      text-align: left;
    }
    margin: auto;
  }
}

.netflix-everywhere {
  grid-gap: 0;
  padding-top: 0;
}

.faq {
  padding: 50px 100px;
  &-question__div {
    margin-top: 10px;
    width: 100%;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .bi {
      font-size: 35px;
      color: #fff;
    }
  }
}
