nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 55px;
  position: fixed;
  z-index: 10;
  background-color: transparent;
  left: 50%;
  transform: translateX(-50%);
}
nav svg {
  height: 100%;
  fill: #e50914;
}
nav .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-right button {
  min-width: 115px;
  height: 40px;
  padding: 7px 17px;
  border-radius: 5px;
}
nav .nav-right__lang {
  background: black;
  margin-right: 35px;
}
nav .nav-right__lang span {
  margin: 0 2px;
}

.showcase {
  background: url("../img/background.jpg") no-repeat center center/cover;
  width: 100%;
  height: 100vh;
  position: relative;
  box-shadow: inset 100px 80px 100px black, inset -100px -80px 100px black;
}
.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.showcase-content {
  position: absolute;
  width: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.showcase h1.text {
  font-size: 50px;
  font-weight: 900;
  margin: auto;
  max-width: 650px;
}
.showcase h4.text {
  font-size: 26px;
  font-weight: 500;
  margin: 16px auto;
}
.showcase p.text {
  font-size: 19px;
  margin: 0 42px 20px;
}
.showcase .type-email {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  justify-content: center;
}
.showcase .type-email input {
  width: 80%;
  min-width: 450px;
  height: 60px;
  padding: 10px;
  outline: none;
  border: none;
}
.showcase .type-email button {
  height: 60px;
  background-color: #e50914;
  padding: 0 13px;
  width: 20%;
}

main {
  background-color: #000;
}

main .separate {
  width: 100%;
  height: 10px;
  background-color: #222;
}

.netflix-tv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 50px 0;
}
@media (max-width: 479px) {
  .netflix-tv {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.netflix-tv__content {
  margin-top: 50px;
}
.netflix-tv__content p,
.netflix-tv__content h2 {
  text-align: left;
  margin-bottom: 10px;
}
.netflix-tv__right {
  height: 100%;
  display: flex;
}
.netflix-tv__show {
  overflow: hidden;
  position: relative;
}
.netflix-tv__show img {
  position: relative;
  z-index: 2;
}
.netflix-tv__show .video {
  height: 100%;
  overflow: hidden;
  left: 50%;
  max-height: 54%;
  max-width: 73%;
  position: absolute;
  top: 47.5%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.netflix-tv__show .video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.netflix-offline {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 100px 0;
}
.netflix-offline__left {
  position: relative;
}
.netflix-offline__left .sub-img {
  background: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 330px;
  height: 95px;
  border: 2px solid gray;
  border-radius: 20px;
  overflow: hidden;
}
.netflix-offline__left .sub-img__left {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px;
}
.netflix-offline__left .sub-img__left img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -80px;
}
.netflix-offline__left .sub-img__content {
  margin-left: -80px;
  margin-top: auto;
  margin-bottom: auto;
}
.netflix-offline__left .sub-img__content h5 {
  text-align: left;
}
.netflix-offline__left .sub-img__content span {
  color: blue;
  font-size: 14px;
  text-align: left;
}
.netflix-offline__content {
  margin: auto;
}
.netflix-offline__content h2,
.netflix-offline__content p {
  margin-bottom: 10px;
  text-align: left;
}

.netflix-everywhere {
  grid-gap: 0;
  padding-top: 0;
}

.faq {
  padding: 50px 100px;
}
.faq-question__div {
  margin-top: 10px;
  width: 100%;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.faq-question__div .bi {
  font-size: 35px;
  color: #fff;
}/*# sourceMappingURL=style.css.map */